		
		.kose{

    width: 200px;
    padding: 25px;
    border: 20px solid #a641da;
    padding: 55px;

}

  		.asd{

  			border:8px solid pink ;
  			padding: 8px;
  			width: 100px;
  		}

       h1{

color: red;

       }


       p{


       	color: red;
       }

       .t{
  
       	color: rgb(200, 82, 255);

       }